header
  #logo
  #controls(ng-controller='ControlsController as ctrl')
    ul
      li.tooltip(
          ng-click='(!ctrl.sim.status || ctrl.sim.status == 3) && ctrl.compile()',
          ng-class="{ 'disabled': ctrl.sim.status == 1 || ctrl.sim.status == 2 }"
        )
        span.tooltiptext(translate="COMPILE")
        i.fa.fa-terminal
      li.tooltip(
          ng-click='(!ctrl.sim.status || ctrl.sim.status == 3) && ctrl.start(1)',
          ng-class="{ 'disabled': ctrl.sim.status == 2, 'active': ctrl.sim.status == 1 }"
        )
        span.tooltiptext(translate="RUN")
        svg
          polygon(points='0 0,15 7.5,0 15')
      li.tooltip(
          ng-click='(!ctrl.sim.status || ctrl.sim.status == 3) && ctrl.start(2)',
          ng-class="{ 'disabled': ctrl.sim.status == 1, 'active': ctrl.sim.status == 2 }"
        )
        span.tooltiptext(translate="STEP")
        svg
          polygon(points='0 0,14 7.5,14 0,15 0,15 15,14 15,14 7.5,0 15')
      li.tooltip(
          ng-click='(ctrl.sim.status == 1 || ctrl.sim.status == 2) && ctrl.pause()',
          ng-class="{ 'disabled': !ctrl.sim.status, 'active': ctrl.sim.status == 3 }"
        )
        span.tooltiptext(translate="PAUSE")
        svg
          polygon(points='0 0,6 0,6 15,0 15')
          polygon(points='9 0,15 0,15 15,9 15')
      li.tooltip(
          ng-click='ctrl.sim.status && ctrl.stop()',
          ng-class="{ 'disabled': !ctrl.sim.status }"
        )
        span.tooltiptext(translate="STOP")
        svg
          polygon(points='0 0,15 0,15 15,0 15')
    #right
      input(
        type='range', min='0', max='2000', step='50',
        ng-model='ctrl.delay', ng-change='ctrl.delayChanged()')
      #delayContainer
        span(ng-bind='ctrl.delay')
        |  ms
  nav
    ul
      li(ng-controller='IoController as io')
          i.fa.fa-file-text
          span(translate="PROJECT")
          i.fa.fa-caret-down
          ul
            li(ng-click='io.open()')
              i.fa.fa-folder-open
              span(translate="PROJECT_OPEN")

            li(ng-click='io.save()')
              i.fa.fa-download
              span(translate="PROJECT_SAVE")

            a(href='#')
              li
                i.fa.fa-file
                span(translate="PROJECT_NEW")

      li(ng-click="panel = 'guide'")
        i.fa.fa-question-circle
        span(translate="GUIDE")

      li
        i.fa.fa-info-circle
        span(translate="INFO")
        i.fa.fa-caret-down
        ul
          a(href='http://github.com/lorenzoganni/vnmsim/issues')
            li
              i.fa.fa-exclamation-triangle
              span(translate="ISSUES")
          a(href='http://github.com/lorenzoganni/vnmsim#changelog')
            li
              i.fa.fa-list-alt
              span(translate="CHANGELOG")

      li(ng-click="panel = 'samples'")
        i.fa.fa-sitemap
        span(translate="SAMPLES")

      li(ng-click="panel = 'settings'")
        i.fa.fa-cogs
        span(translate="SETTINGS")
